{% load i18n admin_urls static %}
<ul class="collapsible">
    <li class="active">
        <div class="collapsible-header">
            {% if inline_admin_formset.formset.max_num == 1 %}
                {{ inline_admin_formset.opts.verbose_name|capfirst }}
            {% else %}
                {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
            {% endif %}
        </div>
        <div class="collapsible-body">
            
            <div
                class="iuw-inline-admin-formset inline-group"
                id="{{ inline_admin_formset.formset.prefix }}-group"
                data-inline-type="image-uploader"
                data-inline-formset="{{ inline_admin_formset.inline_formset_data }}"
            >
                <div class="iuw-inline-root">
                    <div>
                        {{ inline_admin_formset.formset.management_form }}
                        {{ inline_admin_formset.formset.non_form_errors }}
                        {% for inline_admin_form in inline_admin_formset %}
                            <div
                                class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}"
                                {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %} data-candelete="true"{% endif %}
                            >
                                {% for fieldset in inline_admin_form %}
                                    {% include "admin/includes/fieldset.html" %}
                                {% endfor %}
                                {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %}
                                    {{ inline_admin_form.deletion_field.field }}
                                {% endif %}
                                {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                                {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
                            </div>
                        {% endfor %}
                        <div class="iuw-add-image-btn">
                            <i class="material-icons medium">file_upload</i>
                            Adicionar
                        </div>
                        <div class="iuw-empty">
                            <i class="material-icons medium">file_upload</i>
                            Clique para selecionar um arquivo.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </li>
</ul>
