{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
    Produtos | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/shop.css' %}" />
{% endblock %}


{% block content %}
    <div class="row products-row">
        {% for p in page_obj %}
            <div class="col s12 m6 l4 xl3 product-item">
                <div class="slider">
                    <ul class="slides">
                        {% for img in p.images.all %}
                            <li>
                                <img src="{% get_media_prefix %}/{{ img.image }}" alt="{{ img.alternative_text }}" />
                            </li>
                        {% empty %}
                            <li>
                                <img src="" alt="CORRIGIR ISSO" />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h6>
                    {{ p.name }}
                </h6>
                {% if p.discount_price > 0 %}
                    <h5 class="price-old">R$ {{ p.price }}</h5>
                    <h5 class="price-new">R$ {{ p.discount_price }}</h5>
                {% else %}
                    <h5 class="price-new">
                        R$ {{ p.price }}
                    </h5>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% include 'shop/includes/pagination.html' %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems, {
            });
        });
    </script>
{% endblock %}
