{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
    Produtos | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/shop.css' %}" />
{% endblock %}


{% block content %}
    <div class="row products-row">
        {% for item in page_obj %}
            {% include 'shop/includes/item.html' %}
        {% endfor %}
    </div>

    {% include 'shop/includes/pagination.html' %}
{% endblock %}
