{% load static brl transactions %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imprimir Registros - The Nerd Shop</title>
    <link rel="stylesheet" href="{% static 'actions/print_registry/styles.css' %}" />
</head>
<body>
    
    <table width="100%" class="header-table">
        <thead>
            <tr>
                <td colspan="4">
                    <h1>Registro de Vendas</h1>
                </td>
                <td colspan="2" class="logo-container">
                    {% include 'shop/includes/logo.svg' %}
                </td>
            </tr>
            <tr>
                <th width="16.66%">Qtde Vendas</th>
                <th width="16.66%">Qtde Itens</th>
                <th width="16.66%">Valor Total</th>
                <th width="16.66%">% Paga</th>
                <th width="16.66%">Valor Pago</th>
                <th width="16.66%">A Receber</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ registry.count }}</td>
                <td>{{ total_itens }}</td>
                <td>{{ total_price|brl }}</td>
                <td>{{ payed_percent|percent }} %</td>
                <td>{{ payed_price|brl }}</td>
                <td>{{ not_payed_price|brl }}</td>
            </tr>
        </tbody>
    </table>

    <table width="100%" class="products-table">
        <thead>
            <tr>
                <th colspan="10">
                    <h2 style="text-align: center;">
                        Pedidos
                    </h2>
                </th>
            </tr>
            <tr>
                <th>Referência</th>
                <th>Código</th>
                <th>Itens</th>
                <th>Método</th>
                <th>Valor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in registry %}
                <tr>
                    <td>{{ item.reference }}</td>
                    <td>{{ item.code }}</td>
                    <td>
                        {{ item|render_itens }}
                    </td>
                    <td>{{ item.display_payment_method }}</td>
                    <td>{{ item.total_price|brl }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>