/*
 * Top Shop Menu
 */
 #category-top-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
#category-top-menu ul li {
    width: 128px;
    height: 128px;
}
#category-top-menu ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}

#category-top-menu ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#category-top-menu ul li img {
    width: 70%;
    height: auto;
    filter: brightness(0) invert(1);
}
#category-top-menu ul li span {
    font-weight: bold;
    color: #FFF;
}

#category-top-menu ul li .dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    z-index: 5000;
    display: none;
}
#category-top-menu ul li:hover .dropdown {
    display: block;
}