{% load static %}

<div class="col s12 m6 l4 xl3 product-item">
    <div class="slider">
        <ul class="slides">
            {% for img in item.images.all %}
                <li>
                    <img src="{% get_media_prefix %}/{{ img.image }}" alt="{{ img.alternative_text }}" />
                </li>
            {% empty %}
                <li>
                    <img src="" alt="CORRIGIR ISSO" />
                </li>
            {% endfor %}
        </ul>
    </div>
    <h6>
        {{ item.name }}
    </h6>
    {% if item.discount_price > 0 %}
        <h5 class="price-old">R$ {{ item.price }}</h5>
        <h5 class="price-new">R$ {{ item.discount_price }}</h5>
    {% else %}
        <h5 class="price-new">
            R$ {{ item.price }}
        </h5>
    {% endif %}
    <div class="detail-row">
        <a href="{% url 'shop:product_detail' item.id %}" class="btn btn-small">Ver Detalhes</a>
    </div>
    {% if request.user.is_authenticated %}
        <div class="detail-row">
            <a href="{% url 'shop:add_to_cart' item.id %}" class="btn btn-small">Adicionar ao Carrinho</a>
        </div>
    {% endif %}
</div>