{% load static %}

<div class="col s12 m6 l4 xl3 product-item">
    <div class="slider">
        <ul class="slides">
            {% for img in item.images.all %}
                {% if forloop.counter <= 5 %}
                    <li>
                        <img src="{% get_media_prefix %}/{{ img.image }}" alt="{{ img.alternative_text }}" />
                    </li>
                {% endif %}
            {% empty %}
                <li>
                    <img src="" alt="CORRIGIR ISSO" />
                </li>
            {% endfor %}
        </ul>
    </div>
    <h6>
        {{ item.name }}
    </h6>
    {% if item.discount_price > 0 %}
        <h5 class="price-old">R$ {{ item.price }}</h5>
        <h5 class="price-new">R$ {{ item.discount_price }}</h5>
    {% else %}
        <h5 class="price-new">
            R$ {{ item.price }}
        </h5>
    {% endif %}
    <div class="detail-row">
        <a href="{% url 'shop:product_detail' item.id %}" class="btn btn-small">Ver Detalhes</a>
    </div>
    {% if request.user.is_authenticated and not item.has_various_sizes %}
        <form method="POST" action="{% url 'shop:add_to_cart' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.id }}" />
            <input type="hidden" name="quantity" value="1" />
            <div class="detail-row">
                <button class="btn btn-small" type="submit">Adicionar ao Carrinho</button>
            </div>
        </form>
    {% endif %}
</div>