<ul class="sidenav" id="mobile-sidenav">
    <li><a href="{% url 'shop:index' %}">Início</a></li>
    <li><a href="{% url 'shop:products' %}">Produtos</a></li>
    {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'shop:user_cart' %}">Carrinho
                <span class="new badge" data-badge-caption="Produto(s)">
                    {{ request.user.cart_products_count }}
                </span>
            </a>
        </li>
        <li><a href="{% url 'shop:purchases_list' %}">Minhas Compras</a></li>
        <li><a href="{% url 'shop:sign_out' %}">Sair</a></li>
    {% else %}
        <li><a href="{% url 'shop:sign_in' %}">Entrar</a></li>
        <li><a href="{% url 'shop:sign_up' %}">Criar Conta</a></li>
    {% endif %}
</ul>