.cart-image {
    max-width: 150px;
    margin: 0 auto;
}



/* PAYMENT */
#payment-box {
    background: #FFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
}


#credit-card,
#boleto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.payment-method-brand {
    /*
    width: 120px;
    height: 100px;
    background: #CCC;
    border-radius: 10px;
    */

    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-method-brand span {
    display: none;
}

#payment-box [type="radio"]:checked + span::after,
#payment-box [type="radio"].with-gap:checked + span::after {
    background-color: #4a148c !important;
    border-color: #4a148c !important;
}




#loading-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #222;
    color: #FFF;

    z-index: 50000000;
}