body {
    background: #05040e;
    color: #FFF;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background: #05040e;
}
header nav {
    background: #05040e !important;
}
header nav ul li span.badge.new {
    background-color: #4a148c !important;
}
header .logo-wrapper > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
header .logo-wrapper > .container svg {
    max-width: 100%;
    width: 500px;
    height: auto;
    fill: #FFF;
}

.content-container {
    margin-bottom: 80px !important;
    flex: 1 0 auto;
}

#mobile-sidenav span.badge {
    background-color: #4a148c;
}

.pagination li a {
    color: #FFF !important;
}
.pagination li.active {
    background-color: #4a148c !important;
}
.pagination li.active a {
    color: #FFF !important;
}
.pagination li.disabled a {
    color: #222 !important;
}
.slider .indicator-item.active {
    background-color: #4a148c !important;
}


.btn.thenerdshop {
    background-color: #4a148c !important;
}


/*
 * Top Shop Menu
 */
 #category-top-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background: transparent;
    border-radius: 0;
    transform: scale(1);
    transition: all ease 0.5s;
}
#category-top-menu > ul:hover {
    z-index: 400;
    transform: scale(1.1);
    background: #4a148c;
}
#category-top-menu ul li {
    width: 128px;
    height: 128px;
}
#category-top-menu ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}

#category-top-menu ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#category-top-menu ul li img {
    width: 70%;
    height: auto;
    filter: brightness(0) invert(1);
}
#category-top-menu ul li span {
    font-weight: bold;
    color: #FFF;
}

#category-top-menu ul li .dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    z-index: 450;
    display: none;
    background: #6a1b9a;
}
#category-top-menu ul li:hover .dropdown {
    display: block;
}




.notification-list {
    width: 400px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.notification-list .notification {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
}
.notification-list .notification .notification-icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.notification-list .notification .information-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.notification-list .notification .information-box .notification-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.1rem;
    position: relative;
}
.notification-list .notification .information-box .notification-title .notification-delete {
    font-weight: normal;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4a148c;
    border-radius: 2px;
    color: #FFF;
    padding: 2px 4px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.notification-list .notification:hover .information-box .notification-title .notification-delete {
    opacity: 1;
}
.notification-list .notification .information-box .notification-banner {
    width: 100%;
}
