{% extends "admin/base_site.html" %}

{% load i18n %}

{% block breadcrumbs %}
    <nav class="transparent z-depth-0 page-breadcrumb">
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="black-text breadcrumb" href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
                <a class="black-text breadcrumb" href="#">Monitoramento de Dados</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <h3>Monitoramento de Dados</h3>

{% endblock %}
