{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheNerdShop | {% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'styles/page.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>
<body>

    <header style="margin-bottom: 40px;">
        {% include 'shop/includes/navbar.html' %}
        <div class="logo-wrapper">
            <div class="container">
                <a href="{% url 'shop:index' %}">
                    {% include 'shop/includes/logo.svg' %}
                </a>
            </div>
        </div>
        <div id="category-top-menu">
            <ul class="container">
                {% for item in menu %}
                    <li>
                        <a href="{% url 'shop:category' item.id %}">
                            <img src="{% get_media_prefix %}{{ item.icon }}" class="icon" />
                            <span class="title">
                                {{ item.text }}
                            </span>
                        </a>
                        {% if item.children|length > 0 %}
                            <ul class="dropdown">
                                {% for child in item.children %}
                                    <li class="dropdown-item">
                                        <a href="{% url 'shop:category' child.id %}">
                                            <img src="{% get_media_prefix %}{{ child.icon }}" class="icon" />
                                            <span class="title">
                                                {{ child.text }}
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>        
    </header>

    {% include 'shop/includes/sidebar.html' %}

    <div class="container content-container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>TheNerdShop</h5>
                    <p class="grey-text text-lighten-4">A maior comunidade de Nerds do Brasil!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="{% url 'shop:index' %}">TheNerdShop</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/EduardoJM/TheNerdShop">Repositório do GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; Eduardo Oliveira (<a href="https://github.com/EduardoJM" class="grey-text text-lighten-3">GitHub</a>).
            </div>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% if request.user.is_authenticated %}
        <script>var USER_ID='{{request.user.id}}';</script>
        <script src="{% static 'js/notification.js' %}"></script>
    {% endif %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            M.Sidenav.init(document.querySelectorAll('.sidenav'), {});
            M.Slider.init(document.querySelectorAll('.slider'), {});
            M.FormSelect.init(document.querySelectorAll('select'), {});
            M.Dropdown.init(document.querySelectorAll('#notification-dropdown-trigger'), {
                alignment: 'right',
                coverTrigger: false,
                constrainWidth: false,
            });
        });
    </script>
</body>
</html>