{% extends 'shop/base.html' %}

{% load static %}

{% block title %}Início{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/shop.css' %}" />
{% endblock %}

{% block content %}
    {% if promotional_items %}
        <h3>Promoções</h3>
        <h4 class="light">Promoções especiais para você levar agora!</h4>
        <div class="row products-row">
            {% for item in promotional_items %}
                {% include 'shop/includes/item.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
