{% extends 'shop/base.html' %}
{% load static brl %}

{% block title %}Minhas Compras - The Nerd Shop{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/cart.css' %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h4>Minhas Compras</h4>
        </div>
    </div>
    {% if purchases|length == 0 %}
        <div class="row">
            <div class="col s12">
                <h5 class="center">Você não possui compras ainda!</h5>
            </div>
        </div>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th width="150">Foto</th>
                    <th>Itens</th>
                    <th>Parcelas</th>
                    <th>Preço Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in purchases %}
                    <tr>
                        <td>
                            {% with img=item.get_image %}
                                {% if img %}
                                    <img class="cart-image" src="{% get_media_prefix %}/{{ img.image }}" alt="{{ img.alternative_text }}" />
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            {{ item.transaction_items }}
                        </td>
                        <td>
                            {{ item.installment_count }}
                        </td>
                        <td>
                            {{ item.gross_amount|brl }}
                        </td>
                        <td>
                            {{ item.status }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
