{% load widget_util %}

<div style="margin-top: 30px">
    {% if fieldset.name %}<h4>{{ fieldset.name }}</h4>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    <div class="row">
        {% for line in fieldset %}
            {% if line.fields|length_is:'1' %}
                {% if line.errors %}
                    <div class="col s12">
                        {{ line.errors }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="col s12 form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% for field in line %}
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}
                        <div class="row">
                            <div class="col s12">
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% with field.field|widget_type as widget_type %}
                            <div class="input-field col s12 {{ widget_type }}">
                                {% if widget_type in 'materializecheckbox materializeselect' %}
                                    {{ field.field }}
                                {% elif field.is_checkbox %}
                                    {{ field.field }}{{ field.label_tag }}
                                {% else %}
                                    {{ field.label_tag }}
                                    {% if field.is_readonly %}
                                        <div class="readonly">{{ field.contents }}</div>
                                    {% else %}
                                        {{ field.field }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endwith %}
                    </div>
                    {% if field.field.help_text %}
                        <div class="row">
                            <div class="col s12">{{ field.field.help_text|safe }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
